body {
  background-color: #eef9bf;
}

header {
  width: 100%;

  display: flex;
  justify-content: center;

  margin-top: 40px;
}

h1 {
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: -0.004em;
  text-align: left;

  color: #75b79e;
}

.relogio{
  background-color: azure;
  
  font-size: large;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 5px;
  right: 5px;
}

main {
  display: flex;
  flex-wrap: wrap;

  margin: 47px 100px 0 100px;

  gap: 34px;
}

.carta {
  width: 117px;
  height: 146px;

  border: 1px solid #99cea8;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #a7e9af; */

  position: relative;

  transition: all 0.5s;
  transform-style: preserve-3d;
}

.face {
  width: 100px;
  height: 100px;

  position: absolute;
  backface-visibility: hidden;
  transition: all 0.5s;
  transform-style: preserve-3d;
}

.girar {
  transform: rotateY(180deg);
}

.back-face {
  transform: rotateY(180deg);
}

.carta img {
  width: 100%;
  height: 100%;
}


